/* Home */
#home {
  background: url("./home.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 270px;
  height: 270px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.home__title,
.home__description {
  color:#1f1f1f;
}

.text_box{
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  text-align: center;
  height: 180px;
}

.blink {
  display: inline-block;
  animation: blink 0.5s infinite;
  font-size: var(--font-small-large);
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

.home__contact {
  color: #1f1f1f;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border-radius: var(--size-border-radius);
  border: 2px solid #1f1f1f;
  font-family: 'Open Sans', sans-serif;
}

.home__contact:hover {
  background-color: #fff;
  border-radius: var(--size-border-radius);
}