/* Global */
:root {
  /* Color */

  /* Font size */
--font-large: 48px;
--font-small-large: 35px;
--font-medium: 28px;
--font-regular: 18px;
--font-small: 16px;
--font-micro: 14px;

  /* Font weight */
--weight-bold: 700;
--weight-semi-bold: 600;
--weight-regular: 400;

  /* Size */
--size-border-radius: 6px;

/* Animation */
--animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

/* Typoraphy */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: #000;
  margin: 50px 0px 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: #000;
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: #000;
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: #000;
  margin: 4px 0px;
}